doctype html

section.discover
    header
        tg-discover-search-bar(on-change="vm.onSubmit(q)")

    section.highlighted
        tg-most-liked
        tg-most-active

    section.featured-projects
        tg-featured-projects

    //- #footer(style='clear:both;text-align:center;')
    //-     a(href='http://www.beian.miit.gov.cn/', target="_blank") 粤ICP备19075188号
    include ../../../partials/includes/modules/record/record

